<!DOCTYPE html>
<html>
<head>
    <title>Upload Video File</title>
    <script src="/javascripts/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Upload</h1>
		<div class="row">
			<div class="col-md-9">
				<div class="well">
					<h2>Upload Video File</h2>
					<p class="text text-info">Upload video lên Wistia.</p>
					<p class="text text-muted">API URL: https://upload.wistia.com</p>
					<div class="row">
						<div class="col-sm-3">
							<input type="text" id="projectId" class="form-control" value="fxipdx3zn1" placeholder="*Wistia Project ID" title="Nhập ID mới để cập nhật dữ liệu"><br>
						</div>
						<div class="col-sm-9">
							<input type="text" id="apiPassword" class="form-control" value="<%=apiPassword%>" placeholder="*Wistia API Access Token"><br>
						</div>
					</div>
					
					<form id="FormFile" class="form form-horizontal" method="post">
						<div class="row">
							<div class="col-sm-3">
								<input type="text" name="name" id="name" class="form-control" placeholder="New Video Name">
							</div>
							<div class="col-sm-9">
								<input type="file" name="file" id="file" class="btn btn-default btn-block" value="Choose a file" accept=".mp4">
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm-1 col-sm-offset-2">
								<img src="/icons/spin.gif" id="spinIcon" style="display:none">
							</div>
							<div class="col-sm-3">
								<input type="button" class="btn btn-success btn-block" value="Submit" id="FormFileUploadBtn">
							</div>
							<div id="controlButton" style="display: none" class="col-sm-6">
									<button type="button" class="btn btn-info" data-toggle="modal" data-target="#ViewVideoModal"><i class="glyphicon glyphicon-play"></i></button> &nbsp;
									<button type="button" class="btn btn-danger" id="deleteBtn"><i class="glyphicon glyphicon-trash"></i></button> &nbsp;
									<button type="button" class="btn btn-default" id="getInfoBtn"><i class="glyphicon glyphicon-eye-open"></i></button> &nbsp;
									<button type="button" class="btn btn-primary" id="sendURL"><i class="glyphicon glyphicon-arrow-down"></i> SendURL</button> &nbsp;
							</div>
						</div>
					</form>
				</div>
				<div class="well" style="display: none;"><pre id="message" style="height: 200px; overflow-y: scroll;"></pre></div>
			</div>
			<div class="col-md-3">
				<div class="well">
					<h2>
						<span><img src="/icons/spin.gif" id="spinIconProject" style="display: none"></span>
						<span id="projectName">Đang tải</span>
					</h2>
					<p class="text text-muted" id="projectDescription"></p>
					<div id="mediaList"></div>
				</div>
			</div>
		</div>
		
		<!-- Video Player Modal -->
		<div class="modal fade" id="ViewVideoModal" tabindex="-1" role="dialog" aria-labelledby="ViewVideoModal">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="modalContent"></div>
			</div>
		</div>
		
		<!-- Video Information Modal -->
		<div class="modal fade" id="InfoModal" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="InfoModalContent">
					<div class="modal-body">
						<div class="row">
							<blockquote>
								ID: <b id="videoId"></b>, Hashed ID: <b id="videoHashedId"></b><br>
								Name: <b id="videoName"></b>, Duration: <b id="videoDuration"></b><br>
								Status: <b id="videoStatus"></b><br>
							</blockquote>
						</div>
						<div class="row">
							<div class="col-sm-2"><b>Asset URL: </b></div>
							<div class="col-sm-4"><input class="form-control" type="url" value="http://" id="assetURL" readonly></div>
							<div class="col-sm-2"><b>Giây thứ: </b></div>
							<div class="col-sm-2"><input class="form-control" type="number" value="1.0" step="0.1" min="0" max="" id="stillSecond"></div>
							<div class="col-sm-2"><button class="btn btn-success btn-block" type="button" id="getURLButton">Xem hình</button></div>
						</div><br>
						<center class="row">
							<input value="" class="form-control" readonly="readonly" id="imageLink">
							<h4>Hình kết quả</h4>
							<img src="" id="imageLinkSrc">
						</center><br>
						<div class="row">
							<h4>Remote Upload Link</h4>
							<span class="input-group">
								<input value="" class="form-control" readonly="readonly" id="videoLink">
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary" onClick="sendVideoURL()"><i class="glyphicon glyphicon-arrow-down"></i> SendURL</button>
								</span>
								
							</span>
							
						</div><br>
						<hr>
						<button data-toggle="collapse" data-target="#videoURLs" class="btn btn-success">Mở rộng </button>
						<div class="collapse" id="videoURLs">
							<ul class="list-group" id="videoAssets"></ul>						
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="well">
			<h2>Upload via URL <small>(checking...)</small></h2>
			<p class="text text-info">Gửi URL video đến Microsoft Video API và chuyển đến giao diện chờ nhận kết quả JSON</p>
			<p class="text text-muted">API URL: <%=apiURL%></p>
			<p class="text text-muted">Ocp-Apim-Subscription-Key: <%=subKey%></p>
			<form id="FormURL" class="form form-horizontal" method="post">
				<div class="input-group">
					<input type="url" id="url" class="form-control" name="url" id="url" placeholder="http://techslides.com/demos/sample-videos/small.mp4" required>
					<span class="input-group-btn">
						<input type="submit" class="btn btn-success" value="Upload và chờ kết quả">
					</span>
				</div>
			</form>
		</div>
	</div>
	
<script type="text/javascript">
	$(document).ready(function(){	
		loadMediaList();
		
		// Upload File Submit Button Click
		$('#FormFileUploadBtn').on('click', function(e) { //OK
            var form = new FormData();
			var file = $('#file')[0].files[0];
			form.append('file', file);
			form.append('name', $('#FormFile #name').val());
			$('#FormFileUploadBtn').attr('disabled','disabled');
			$('#spinIcon').css('display','inline');
			var params = {
				api_password : $('#apiPassword').val(), 
				project_id : $('#projectId').val(), 
			};
			$.ajax({
				async: true,
				crossDomain: true,
				url: 'https://upload.wistia.com?' + $.param(params),
				method: 'POST',
				processData: false,
				contentType: false,
				mimeType: 'multipart/form-data',
				dataType: 'json',
				data: form,
				success: function(data) {
					if (data.error) {
						alert("Lỗi: " + data.error);
					} else {
						loadMediaList();
						$('#controlButton').css('display','block');
						$('#message').parent().css('display','block');
						$('#message').text(JSON.stringify(data, null, 2));						
						var hashedId = data.hashed_id;
						$('#hashedId').html(hashedId);
						var embededContent = '<script src="\/\/fast.wistia.com/embed/medias/'+hashedId+'.jsonp" async><\/script><script src="\/\/fast.wistia.com/assets/external/E-v1.js" async><\/script><div class="wistia_responsive_padding" style="padding:57.14% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_'+hashedId+' videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>';
						$('#modalContent').html(embededContent);
					}
				},
				error: function(e) {
					alert('Gửi Ajax Request thất bại!');
				},
				complete: function() {
					$('#spinIcon').css('display','none');
				}, 
			});
			e.preventDefault();
        });	   

		// URL form submit event
		$('#FormURL').submit(function(event) {
			var params = {
				// Request parameters
			};
			$.ajax({
				url: '<%=apiURL%>?' + $.param(params),
				beforeSend: function(xhrObj){
					xhrObj.setRequestHeader('Content-Type', 'application/json');
					xhrObj.setRequestHeader('Ocp-Apim-Subscription-Key', '<%=subKey%>');
				},
				type: 'POST',
				data: '{ "url" : "'+ $('#FormURL #url').val() +'"}',
				success: function(data, status, request) {
					$('#info').append('Đang gửi dữ liệu...').delay(5000);
					window.location.replace('/video-api/wait-for-result?operationLocation=' +request.getResponseHeader('Operation-Location') +'&uploadedVideoURL=' + $('#FormURL #url').val());
				},
				fail: function() {
					alert('Lỗi! Coi lại dữ liệu');
				}, 
			});
			event.preventDefault();
		});
		
		// File Form Delete Button Click
		$('#deleteBtn').on('click', function(e) {
			deleteVideo();
        });

		// File Form Get Info Button Click
		$('#getInfoBtn').on('click', function(e) {
			viewVideoInfo();
        });
		
		// Get image url bbutton click
		$('#getURLButton').click(function() {
			var assetURL = $('#assetURL').val();
			var imageURL = assetURL.replace(".bin", ".jpg");
			imageURL += '?video_still_time=' + $('#stillSecond').val();
			$('#imageLink').val(imageURL);
			$('#imageLinkSrc').attr('src', imageURL);
		});
		
		// Form File Wistia Project Id Blur
		$('#projectId').blur(function(event) {
			loadMediaList();
		});
		
		// Form File Send URL button
		$('#sendURL').click(function (e) {
			sendVideoURL();
		});
	});
	
	function loadMediaList() {
		$(document).ready(function(){	
			$('#spinIconProject').css('display', 'inline');
			$('#mediaList').html('');
			var params = {
				api_password : $('#apiPassword').val(), 
			};
			$.ajax({
				url: 'https://api.wistia.com/v1/projects/' + $('#projectId').val() + '.json?' + $.param(params), 
				method: 'GET',
				success: function(data) {
					if (!data.error) {
						var projectName = data.name;
						$('#projectName').html(projectName);
						$('#projectDescription').html(data.description);
						for(i=0; i<data.medias.length; i++) {
							$('#mediaList').append('<hr>');
							$('#mediaList').append('<a href="https://ngbaanh-qb.wistia.com/medias/'+data.medias[i].hashed_id+'" target="_blank"><img src="'+data.medias[i].thumbnail.url+'" width="100%"></a>');
							$('#mediaList').append('<center><div class="btn-group"><button type="button" class="btn btn-default btn-sm" onClick="viewThis(this)" id="_ViewVideoInfo"><span style="display: none" id="videoHashedId">'+data.medias[i].hashed_id+'</span><i class="glyphicon glyphicon-eye-open"></i></button><button type="button" class="btn btn-danger btn-sm" onClick="deleteThis(this)" id="_DeleteVideo"><span style="display: none" id="videoHashedId">'+data.medias[i].hashed_id+'</span><i class="glyphicon glyphicon-trash"></i></button></div></center>');
						}
					}
				},
				error: function(data) {
					$('#projectName').html('Lỗi Project ID');
					$('#mediaList').html('Kiểm tra ProjectID hoặc AccessToken');
				}, 
				complete: function(data) {
					$('#spinIconProject').css('display','none');
				}, 
			});
		});
	} // .loadMediaList()
	
	function deleteVideo() {
		$(document).ready(function(){	
			if (!confirm('Video vừa upload sẽ bị xóa khỏi Wistia. Chắc chắn xóa?')) {
				return false;
			}
			$('#spinIcon').css('display','inline');
			var params = {
				api_password : $('#apiPassword').val(), 
				project_id : $('#projectId').val(), 
			};
			$.ajax({
				url: 'https://api.wistia.com/v1/medias/' + $('#hashedId').html() + '.json?' + $.param(params),
				method: 'DELETE',
				success: function(data) {
					if (data.hashed_id) {
						$('#spinIcon').css('display','none');
						$('#FormFileUploadBtn').removeAttr('disabled');
						$('#message').text("Đã xóa!");
						$('#controlButton').css('display','none');
						loadMediaList();
					}
				},
				complete: function(data) {
					$('#spinIcon').css('display','none');
				}, 
			});
		});
	} // .deleteVideo()
		
	function viewVideoInfo() {
		$(document).ready(function(){	
			$('#spinIcon').css('display','inline');
			$('#InfoModal #videoAssets').html('');
			var params = {
				api_password : $('#apiPassword').val(), 
				project_id : $('#projectId').val(), 
			};
			$.ajax({
				url: 'https://api.wistia.com/v1/medias/' + $('#hashedId').html() + '.json?' + $.param(params),
				method: 'GET',
				success: function(data) {
					if (data.hashed_id) {
						$('#spinIcon').css('display','none');
						$('#InfoModal #videoId').html(data.id);
						$('#InfoModal #videoHashedId').html(data.hashed_id);
						$('#InfoModal #videoName').html(data.name);
						$('#InfoModal #videoDuration').html(data.duration);
						
						$('#InfoModal #videoStatus').html(data.status == 'ready' ? '<font color="#ff0000">'+data.status+' (Đã sẵn sàng)</font>' : data.status + ' (cứ từ từ quay lại sau)');
						for(i=0; i<data.assets.length; i++) {
							var item = data.assets[i];
							$('#InfoModal #videoAssets').append('<a class="list-group-item" target="_blank" href="'+item.url+'">'+(i+1)+', <b>'+item.type+'</b> ('+item.width+'x'+item.height+') <small>'+item.url+'</small></a>');
						}
						$('#InfoModal').modal('show');
						// add asset
						$('#assetURL').val(data.assets[0].url);
						$('#videoLink').val(data.assets[0].url + '/file.mp4');
						$('#stillSecond').attr('max', data.duration);
					}
				},
				complete: function(data) {
					$('#spinIcon').css('display','none');
				}, 
			});
		});
	} // .viewVideoInfo()
	
	// Project Video List Delete Button Click
	function deleteThis(element) {
		$(document).ready(function(){
			$('#hashedId').text($(element).first().text());
			deleteVideo(null);
			loadMediaList();
		});
	}

	// Project Video List View Info Button Click
	function viewThis(element) {
		$(document).ready(function(){
			$('#hashedId').text($(element).first().text());
			viewVideoInfo(null);
			loadMediaList();
		});
	}
	
	function sendVideoURL() {
		$().ready(function () {
			$('#spinIcon').css('display','inline');
			$('#InfoModal #videoAssets').html('');
			var params = {
				api_password : $('#apiPassword').val(), 
				project_id : $('#projectId').val(), 
			};
			$.ajax({
				url: 'https://api.wistia.com/v1/medias/' + $('#hashedId').html() + '.json?' + $.param(params),
				method: 'GET',
				success: function(data) {
					if (data.status == 'ready') {
						$('#spinIcon').css('display','none');
						$('#url').val(data.assets[0].url + '/file.mp4');
						$('#InfoModal').modal('hide');
						$('html, body').animate({ scrollTop: $("#FormURL").offset().top }, 1000);
					} else {
						alert('Video chưa sẵn sàng, thử lại sau');
						return false;
					}
				},
				complete: function(data) {
					$('#spinIcon').css('display','none');
				}, 
			});
		});
	}
</script>
<div style="display:none" id="hashedId"></div>
</body>
</html>